@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap");

html {
    height: 100%;
    margin: 0
}

body {
    font-family: 'Lato', sans-serif !important;
    background-color: #DEDEDE;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.bg-green {
    background-color: #057650;
}

.container {
    width: auto;
    max-width: 800px;
    padding: 0 15px;
}
